   <div id="footer">
      <div class="container">
        <p class="muted credit">&copy; 2015 Webmaster : <a href="http://www.christian-lamargot.fr">Toto</a> 
            <br>
            <a href="#">Mentions légales</a>
        </p>
      </div>
    </div>
