        $(function() {
            $("article.article").hover(
                function(){
                    $(this).animate({
                            borderWidth: "10px",
                            backgroundColor: "lightSalmon"
                        }, 500);
                },
                function(){
                    $(this).animate({
                            borderWidth: "1px",
                            backgroundColor: "lightGrey"
                        }, 500);
                }
            );

        });
 
